*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.background-sign {
  width: 75%;
  height: 100vh;
}

.container-sign-in{
  display: flex;
}

.form-sign input{
  display: block;
  width: 280px;
  margin-bottom: 15px;
  padding: 10px 0;
  color: white;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 5px;

}

.form-sign {
width: 100%;
display: flex;

justify-content: center;


}

.form-sign h1 {
  font-size: 18px;
  margin-top: 90px;
  margin-bottom: 40px;
}

.form-sign button {
  border: 1px solid #149cba;
  padding: 8px 24px;
  border-radius: 5px;
  background-color: #149cba;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #149cba;
  padding: 10px;
}

header h1{
  color: #9fe0ee;
  font-size: 18px;
  font-weight: 400;
  
}

header button  {
  border: 1px solid #149cba;
  background-color:#9fe0ee ;
  color:#149cba;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.post-section{
display: grid;
grid-template-columns: minmax(0,2fr) minmax(0, 1fr);
padding: 20px;

}

.post-section h1 {
  font-weight: 400;
  font-size: 22px;
}

.post-section textarea {
  display: block;
  margin-top: 20px;
  resize: none;
  border: 1px solid rgb(194, 186, 186);
  border-radius: 5px;
  padding: 8px;
}

.post-section button {
  border: 1px solid #149cba;
  background-color: #149cba;
  color: #9fe0ee;
  padding: 12px 40px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}